input.Checkbox {
  appearance: none;
  background-color: #fff;
  border: 2px solid var(--gray600);
  border-radius: 4px;
  height: px-to-rem(18);
  width: px-to-rem(18);
  margin: 3px;

  &:checked::before {
    content: '';
    position: absolute;
    left: 4px;
    top: 2px;
    width: 6px;
    height: 10px;
    border: solid var(--dark);
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
}
