.QuizScreen {
  &.Stage01 {
    --background: #f8e3c9;
    --color: var(--dark);
    --color-opaque: #{rgba($dark, 0.35)};
  }

  &.Stage02 {
    --background: #f4ddd4;
    --color: var(--dark);
    --color-opaque: #{rgba($dark, 0.35)};
  }

  &.Stage03 {
    --background: #2c3458;
    --color: var(--light);
    --color-opaque: #{rgba($light, 0.35)};
  }

  & > div {
    background-color: var(--background);
  }

  .Question,
  .NavButton {
    color: var(--color);
  }

  .Dots {
    $width: 80;
    left: calc(50% - #{px-to-rem($width / 2)});
  }

  .Dot {
    background-color: var(--color-opaque);

    &.Active {
      background-color: var(--color);
    }
  }

  .Option {
    margin-bottom: px-to-rem(12);
  }
}
