body {
  font-family: 'Noto Sans', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

.text-h4 {
  font-size: 26px;
  line-height: 32px;
}

.text-h5 {
  font-size: 20px;
  line-height: 28px;
}

.text-h6 {
  font-size: 18px;
  line-height: 24px;
}

.text-body1 {
  font-size: 16px;
  line-height: 24px;
}

.text-body2 {
  font-size: 14px;
  line-height: 20px;
}

.text-caption {
  font-size: 12px;
  line-height: 20px;
}

.text-button {
  font-size: 14px;
  line-height: 20px;
}
