div[data-cursor="auto"] {
  cursor: auto;
}

div[data-cursor="crosshair"] {
  cursor: crosshair;
}

div[data-cursor="grab"] {
  cursor: grab;
}

div[data-cursor="text"] {
  cursor: text;
}

div[data-cursor="zoom"] {
  cursor: zoom-in;
}
