$light: #f9f2e9;
$dark: #20284e;
$danger: #c81111;
$brand500: #fec80a;

// $mobile-width: 37.5rem;
// $desktop-width: 58rem;

// @mixin mobile-only {
//   @media screen and (max-width: $mobile-width) {
//     @content;
//   }
// }

// @mixin non-mobile {
//   @media screen and (min-width: $mobile-width) {
//     @content;
//   }
// }

// @mixin tablet-only {
//   @media screen and (min-width: $mobile-width) and (max-width: $desktop-width) {
//     @content;
//   }
// }

// @mixin desktop-only {
//   @media screen and (min-width: $desktop-width) {
//     @content;
//   }
// }

// @mixin non-desktop {
//   @media screen and (max-width: $desktop-width) {
//     @content;
//   }
// }
