@import 'variables';
@import 'reset';
@import 'utilities';

@import 'typefaces';
@import 'typography';
@import 'theme';

@import 'layouts';

@import 'checkbox';
@import 'icons';
@import 'radio';

@import 'acp-locations';
@import 'quiz-screen';

input[type='email'],
input[type='text'],
input[type='url'] {
  &::placeholder {
    color: var(--gray600);
    opacity: 1;
  }
}

:focus {
  outline: none;
}

// :focus-visible,
// :focus-visble ~ label,
.focus-visible,
.focus-visible ~ label {
  box-shadow: var(--input-focused);
  transition: box-shadow 0.2s;
}
